html {
    /*background-color: rgb(210, 255, 234);*/
    background-color: rgb(241, 242, 234);
    /*background-image: url("static/plain_white_paper.webp");
    background-blend-mode: multiply;*/
}

body {
    margin: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: salmon; */
}

header {
    font-family: "EB Garamond", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(0, 128, 0); */
    width: 100%;
    max-width: 600px;
    po
}

h1 {
    /* background-color: blueviolet; */
    font-size: 4.4em;
    font-style: italic;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

p {
    /* background-color: aquamarine; */
    padding: 10px;
}

#filigree {
    width: 6em;
    height: 3em;
    background-image: url(static/filigree_1.png);
    background-size: cover;
    background-position: center;
    /* background-color: blue; */
    cursor: pointer;
}

#filigree:hover {
    background-image: url(static/filigree_2.png);
}

#spot {
    height: 6px;
    width: 6px;
    background-color: black;
    border-radius: 4px;
    position: absolute;
    cursor: pointer;
}